html {
  padding-left: 15px;
  padding-right: 15px;
}

.first_list {
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
      text-align: center;
      width: 50em;
  }
  .first_ul {
    padding: 20px;
      margin: 0; 
      list-style: none;
      display: flex;
      /*padding-bottom: 20px;*/
  }
  
  .container {
      display: flex;
    text-align: left;
    box-shadow: 0 3px #c7c2c2;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
    padding-left : 20px;
    margin-bottom: 20px;
    padding-right : 20px;
  }

  .box1 {
      flex: 0;
      padding-bottom: 5px; 
      /*padding-left: 15px;*/
  }

  .box2 {
      flex: 5px;
      padding-left : 50px;
  }

  .icon {
      height: 100px;
      width: 100px;
    object-fit: cover;
  }

  .dog_pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .bottom {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: rgb(160, 160, 160);
      width: 100vw;
      background-color: white;
      height: 20%;
      padding-bottom: 15px;
      
      
  }

  .bottom p {
    font-size: 17px;
  }

  .weather-t {
    display: none;
  }

  .lt {
    text-align: right;
    padding-right: 10px;
    flex: 1;
    font-size: 15px;
  }
  
  .container2 {
    display: flex;
    align-items: flex-end;
    background-image: url('../img/dog.jpg');
    background-position: 0% 50%;
    background-size: cover;
    height: 83vh;
  }
  
 
  .container3 {
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;

  }
  .bx {
    display: flex;
    box-shadow: 0 3px #c8c8c8;

  }
  .x1 {
    flex: 1;
    font-size: 18px;
  }
  .second_list {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    
      /* padding-top: 15px; */
      text-align: left;
      padding-left: 10px;
  }


  .li_1 {
      padding-bottom: 15px;
      padding-top: 15px;
      box-shadow: 0 3px #c8c8c8;
      color: grey;

  }
  
  .table1 {
    display: grid;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  td {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  th {
    color: #c8c8c8;
  }

  .short-title {
    line-height: 1.5;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    font-weight: 100;
  }
  .short-title span {
    font-size: 1.5rem;
    font-weight: 100;
  }
  
   .container4 {
     padding-bottom: 25px;
   }

  .weather-img {
    display: flex;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
  }
  
  .weather-img img {
    zoom: 175%;
    justify-content: space-around;
    padding-left: 30px;
}
  
  
  img {
    height: auto;
  }
  .forecast {
    display: flex;
    justify-content: space-around; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

  .forecast h5 {
    font-size: 15px;
  }
  
  .forecast img {
    zoom: 240%;
  }
  
  table {
    border-collapse: collapse;
  }

  .dog-image {
    background-image: url('../img/dog.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .container5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 3px #c8c8c8;

  }
  .lns {
    display: flex;
    box-shadow: 0 3px #c8c8c8;

  }
  .lns1 {
    flex: 1;
    font-size: 18px;
  }
  
  .s-list {
    display: flex;
    padding-bottom: 15px;
  }

  

  .news-list {
    padding-top: 20px;
  }

  .news-list img {
    height: 115px;
    width: 169px;
    padding-right: 10px; 
  }

  .ftt {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 3px #c8c8c8;
    justify-content: space-around;
  }

  @media only screen and (min-width: 180px) and (max-width: 450px) {
    .weather-t {
      display: none;
    }
    .box2 {
      font-size: initial;
    }

    .first_ul {
      padding-top: 5px;
      font-size: 12px;
      display: none;
    }

    .first_list {
      margin-right:10px;
      }
      .container2 {
        /* background-size: cover; */
        background-position: 44% 0%;
        height: 32vh;
      
      }
       
      .bottom {
          background-color: rgba(61, 61, 61, 0.9);
          color: white;
          height: 36%;
          width: 88.7vw;
          font-size: 12px;
          /* padding-left: 5px;
          padding-right: 5px; */
      }

      .bottom h2 {
        padding-left: 5px;
      }

      .bottom p {
        font-size: 12px;
        padding-left: 5px;
      }

       .icon {
         padding-top: initial;
         width: initial;
         height: initial;
        
       }

       .second_list {
         font-size: 12px;
         padding-top: 0px;
       }

       .short-title {
         font-size: 32px;
       }

       .short-title span {
         font-size: 20px;
       }

       .weather-img img {
        height: 50px;
        width: 76px;
       }
       .weather-img h1 {
         font-size: 32px;
       }
       .forecast img {
         height: 14px;
         width: 14px;
       }

       .s-list {
         font-size: 8px;
       }
      
       .ftt {
         font-size: 9px;
       }
      
       .table1 {
         font-size: 10px;
       }
      
       .box2 {
         font-size: 11px;
         padding-left: 15px;
       }

       .s-list img {
        height: 76px;
        width: 113px;
        
       }

       .lt-head {
        font-size: 9px;
       }

       .box1 img {
        height: 40px;
        width: 42px;
       }

       .forecast h5 {
         font-size: 10px;
       }

       .lt-head p {
        font-size: 10px;
       }
      
       
       .table1 th {
         background-color: rgb(10, 205, 240);
       }

       .table-data {
         background-color: rgb(197, 238, 238);
       }

       .table-header {
         background-color: rgb(169, 233, 233);
       }

  }

  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .main {
      display: flex;
      
    }

    .fx1 {
      width: 50%;
    }
    .fx2 {
       width: 50%;
       background-color: white;
       height: 32vh;
    }

    .weather-t {
      display: block;
    }
    .container4 {
      display: none;
    }

    .bottom {
      background-color: rgba(61, 61, 61, 0.9);
          color: white;
          height: 36%;
          width: 88.7vw;
          font-size: 12px;
    }
     
    .bottom h2 {
      padding-left: 5px;
    }

    .bottom p {
      padding-left: 5px;
    }

    .container2 {
      /* background-size: cover; */
      background-position: 44% 0%;
      height: 32vh;
    
    } 

    .weather-img {
      display: flex;
      flex-grow: 1;
      font-family: 'Open Sans', sans-serif;
      font-size: 9px;
    }
    
    .weather-img img {
      zoom: 70%;
    justify-content: space-around;
    padding-left: 30px;
  }

  .short-title {
    line-height: 1.5;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0px;
    font-weight: 100;
  }

  .forecast img {
    zoom: 85%;
  }

  .forecast h5 {
    font-size: 11px;
}

.bottom p {
  font-size: 14px;
}

.lt-head p {
  font-size: 12px;
 }

 .table1 th {
  background-color: rgb(10, 205, 240);
}

.table-data {
  background-color: rgb(197, 238, 238);
}

.table-header {
  background-color: rgb(169, 233, 233);
}

  }